* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-image: url('imagenes/fondomoderno.jpg');
    background-color: #a79271;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
    box-sizing: border-box;
}
header{
    padding-top: 40px;
}
nav {
    display: inline-block;
    width:100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    background-image: radial-gradient(#ffffff, #A9844B);
    border-width: 5px;
    border-style: solid;
    border-radius: 15px;
    border-color: #A9844B;
}
nav a{
    display:inherit;
    padding: 20px;
    margin: 20px;
    text-decoration: none;
    border-radius: 15px;
    font-weight: bold;
    color: #82343B;
}
nav a:hover{
    transition: 0.3s;
    background-color: #ffffff;
}
h1 {
    color: #82343B;
    font-size: 40px;
    margin-bottom: 5px;
    font-weight: bold;
}
h2 {
    color: #82343B;
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
}
button {
    display: block;
    width: 100%;
    background-color: #82343B;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}
button:hover {
    background-color: #61272c;
    cursor: pointer;
}
main button{
    margin-top:50px;
}
.grupo-formulario label {
    display: block;
    font-size: 13px;
    color: #444;
    margin-bottom: 8px;
    font-weight: 600;
}
.contenedor-entrada input {
    border: none;
    outline: none;
    width: 80%;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}
.olvido a {
    color: #82343B;
    text-decoration: none;
}
.olvido {
    float: right;
    font-size: 13px;
}
.comillasGrandes{
    font-size: 60px;
    font-weight: bolder;
    margin: 0;
}
.letrasGrandes {
    color: #82343B;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 40px;
}
.tarjeta {
    background: #ffffff;
    width: 20%;
    margin: 0 auto;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 25px #461c20b3;
    text-align: left;
}
.grupo-formulario {
    margin-bottom: 20px;
}

.contenedor-entrada {
    position: relative;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    padding: 10px;
}

.opciones-extra {
    margin-bottom: 30px;
    overflow: hidden;
}
.recordar {
    float: left;
    font-size: 13px;
    color: #666;
}
.paginaActual{
    background-color: #ffffff81;
}
.cajitaCentrada{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#cajaAgradecimientoEnDetalle {
    display: inline-block;
    box-sizing: border-box;
    margin-top: 40px;
    width: 45%;
    vertical-align: top;
}
#tarjetaImagenJesuita{
    width: 38%;
    box-sizing: border-box;
    padding: 10px;
    margin:0px;
    float:left;
}
#tarjetaMensajeJesuita{
    float:right;
    font-size: 40px;
    width: 48%;
}
#imgJesuitaEjemplo{
    width:100%;
    border-radius: 10px;
    margin-bottom: 20px;
}
#logoGrande{
    width: 25%;
    margin-top: 30px;
}
#comillaFlotarDerecha{
    float:right;
}